/*
 * Globals
 */


/* Custom default button */

.btn, .btn-lg, .btn-secondary {
  background-color: rgba(0, 0, 0, 0);
<<<<<<< HEAD
  border: 1px solid rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

.btn-secondary:focus, .btn:focus, .btn-secondary:focus, 
.btn-secondary:hover, .btn:hover, .btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
=======
  border: .25rem solid transparent;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  box-shadow: none;
}

.btn-lg:focus, .btn:focus, .btn-secondary:focus,
#work.now:hover, #pros.now:hover,
.btn-lg:active, .btn:active, .btn-secondary:active,
#work.now:active, #pros.now:active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, 0);
  box-shadow: none !important;
}

.btn-lg:hover, .btn:hover, .btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255);
  box-shadow: none !important;
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
}

/*
 * Base structure
 */

body {
  font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

=======
  font-size: 1.5rem;
  box-sizing: border-box;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: 
    linear-gradient(
      rgba(129, 150, 121, 0.562), 
      rgba(0, 0, 0, 0.295)
   ),  
   url('tree.jpg') 
             no-repeat center center fixed; 
             background-size: cover; 
             height: 100vh;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

     
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
h1 {
  font-weight: 550;
  margin-bottom: 1rem;
}

<<<<<<< HEAD
=======
h3 {
  font-weight: 600;
}

.hidden {
  display: none;
}
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))

.cover-container {
  max-width: 100em;
  margin-bottom: 0;
}

header {
  margin-bottom: auto;
}

<<<<<<< HEAD
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
=======
.bi {
  font-size: 1.5rem;
}

.bi::after {
  content: "";
  margin-right: 0.5rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 600;
  color: rgba(255, 255, 255);
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

<<<<<<< HEAD
=======
#menu h3 {
  padding: .25rem 0;
}

>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

<<<<<<< HEAD
.nav-masthead a.active {
  color: #fff;
  border-bottom-color: #fff;
}

.lead {
  font-weight: 400;
}

ul {
  list-style-type: none; 
}

ul li {
=======
.lead, ol {
  font-weight: 400;
  font-size: 1.5rem;
}

ol {
  padding-left: 1rem;
}

ol li {
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  text-align: left;
  padding: 0.2rem;
}

main {
<<<<<<< HEAD
  color: rgba(255, 255, 255, 0);
  transition-property: color;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

main.show {
  color: rgb(255, 255, 255); 
=======
  width: 100%;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(110, 139, 69, 0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

main.show {
  color: rgba(255, 255, 255);
  background-color: rgba(110, 139, 69, 0.5);
}

.slider {
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0);
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.slider.open {
  color: rgba(255, 255, 255);
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
}

p#next > a {
  color: rgba(0, 0, 0, 0);
<<<<<<< HEAD
  font-size: larger;
  text-decoration: none;
  transition-property: all;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}


=======
  font-size: 1.5rem;
  text-decoration: none;
}

>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
p#next > a.text {
  color: rgb(255, 255, 255);
}

#contact {
  cursor: pointer;
<<<<<<< HEAD
}

@media print {
=======
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

#contact.white {
  color: rgb(255, 255, 255);
}


@media print {
  *:not(#contact) {
    font-size: 1.1rem;
  }

  main.show {
  color: rgba(255, 255, 255);
  background-color: rgba(110, 139, 69, 0);
  }

>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
  p#next {
    display: none;
  }

  a#home, a#work, a#pros {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: column;
  }

<<<<<<< HEAD
=======
  main {
    background-color: rgba(255, 255, 255, 0);
  }

>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
  #contact::after {
    content: "swetlana_kuznetsova03@rambler.ru";
    margin-left: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 1170px) {
  header {
    margin-bottom: 1.5rem;
  }
}

<<<<<<< HEAD
=======
@media (min-width: 320px) and (max-width: 339px) {
  ol {
    padding-left: 0;
  }
}

>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
@media (min-width: 768px) and (max-width: 1170px) {
 #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }
<<<<<<< HEAD
=======
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 2.5rem;
  }
}

@media(min-width: 1500px) {
  *:not(#contact) {
    font-size: 1.5rem;
  }

  #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }
>>>>>>> 3db7796 (add all data in html layout, expedite animation, correct content readability depending on screen size (add background for text, increase font size))
}